# Ignore everything under scan_combiner/.idea
.idea/

# Ignore all PDF output files
*.pdf

# Ignore .env file
scan_combiner/.env

# Ignore everything under scan_combiner/scan_combiner/__pycache__
scan_combiner/__pycache__/
