# Ignore everything under scan_combiner/.idea
scan_combiner/.idea/

# Ignore all PDF output files
*.pdf

# Ignore everything under scan_combiner/scan_combiner/__pycache__
scan_combiner/scan_combiner/__pycache__/
